UNITY_PATH=/home/user/Unity2021/Editor/Unity
LOGFILE_PATH=/home/user/Unity2021/logs
PROJECT_PATH=/home/user/Unity2021/project
UNITY_USER=email@domain
UNITY_PASSWORD=password
VIDEOS_PATH=./videos
COLMAPS_PATH=./colmaps
GAUSSIANS_PATH=./gaussians
MESHES_PATH=./meshes